<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="repository" content="{{ site.repository }}">
    <meta name="built_at" content="{{ site.time | date_to_xmlschema }}">
    <meta name="established_at" content="{{ site.established_at }}">
    {% seo %}
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/common.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    {% if page.active_key == 'home' %}<link rel="stylesheet" type="text/css" href="{{ '/assets/css/home.css' | relative_url }}">{% endif %}
    {% if page.active_key == 'customize' %}<link rel="stylesheet" type="text/css" href="{{ '/assets/css/customize.css' | relative_url }}">{% endif %}
    {% if page.active_key == 'analytics' %}<link rel="stylesheet" type="text/css" href="{{ '/assets/css/analytics.css' | relative_url }}">{% endif %}
    {% if page.active_key == 'donate' %}<link rel="stylesheet" type="text/css" href="{{ '/assets/css/donate.css' | relative_url }}">{% endif %}
    {% if page.active_key == 'search' %}<link rel="stylesheet" type="text/css" href="{{ '/assets/css/search.css' | relative_url }}">{% endif %}
    {% if page.active_key == 'error' %}<link rel="stylesheet" type="text/css" href="{{ '/assets/css/error.css' | relative_url }}">{% endif %}
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/masthead.css' | relative_url }}">
    {% if page.active_key == 'home' and site.data.style.memorial %}<link rel="stylesheet" type="text/css" href="{{ '/assets/css/grayscale.css' | relative_url }}">{% endif %}
    <link rel="apple-touch-icon" type="image/png" href="{{ '/apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">





    {% include analytics.html %}
</head>
<body>
    {% include following_menu.html %}
    {% include sidebar.html %}
    <div class="pusher" style="top:-275px;">
        {% include header.html %}
        {{ content }}
        {% include footer.html %}
    </div>
    <script type="text/javascript" src="/addon1/jquery.min.js"></script>
    <script type="text/javascript" src="/addon1/semantic.min.js"></script>
    <script type="text/javascript" src="{{ '/assets/js/common.js' | relative_url }}"></script>
    {% if page.active_key == 'home' %}<script type="text/javascript" src="/addon1/dayjs.min.js"></script>
    <script type="text/javascript" src="/addon1/zh-cn.js"></script>
    <script type="text/javascript" src="/addon1/relativeTime.js"></script>
    <script type="text/javascript" src="/addon1/js.cookie.min.js"></script>
<!--    <script type="text/javascript" src="{{ '/assets/js/suggest-query.min.js' | relative_url }}"></script>-->

    {% if site.data.banner.message.hitokoto %}<script type="text/javascript" src="{{ '/assets/js/hitokoto.js' | relative_url }}"></script>{% endif %}
    <script type="text/javascript" src="{{ '/assets/js/home.js' | relative_url }}"></script>{% endif %}
    {% if page.active_key == 'customize' %}<script type="text/javascript" src="/addon1/js.cookie.min.js"></script>
    <script type="text/javascript" src="{{ '/assets/js/customize.js' | relative_url }}"></script>{% endif %}
    {% if page.active_key == 'analytics' %}<script type="text/javascript" src="/addon1/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="/addon1/countUp.min.js"></script>
    <script type="text/javascript" src="/addon1/echarts.min.js"></script>
    <script type="text/javascript" src="/addon1/world.js"></script>
    <script type="text/javascript" src="{{ '/assets/js/analytics.js' | relative_url }}"></script>{% endif %}
    {% if page.active_key == 'search' %}<script type="text/javascript" src="/addon1/url.min.js"></script>
    <script type="text/javascript" src="{{ '/assets/js/search.js' | relative_url }}"></script>{% endif %}
</body>
</html>